__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/
.vscode/
export.ps1
project_context.txt

data/0_raw_downloads/*
data/2_named_schematics/*
data/3_litematics_to_convert/*
data/4_processed_tensors/*
!data/.gitkeep
litematic_converter/converter_session.json

*.schem
*.schematic
*.nbt